<div class="addContainer">
  <div class="contact-details">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about contact-header">
            <div class="contact-details-heading ml-4">
              <div class="contact-details-name mb-2">Patients in The Room!</div>
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        
        <div class="contact-detail-info">Patients In Room</div>
          <ul><li *ngFor="let patient of patient">
            <div class="contact-details-field" matTooltip="Room Number" [matTooltipPosition]="'above'">
              <i class="material-icons-two-tone color-icon">event_note</i>
            <div class="contact-detail-info"> {{patient.roomNo}}</div></div>
            <div>------------------------------------------------------------</div>
            {{patient.first}}------{{patient.last}}-----{{patient.patient_ID}}
          </li></ul>
      </mat-card-content>
    </div>
  </div>
</div>
