<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Laboratory</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Apps</a>
            </li>
            <li class="breadcrumb-item active">Chat</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-14 col-md-14 col-sm-14 col-xs-14">
      <div class="card">
        <div class="header bg-cyan">
          <h2>
            {{patient.first}} {{patient.last}}-----------------------------------------------MRN: {{patient.patient_ID}}
            <small>Gender: {{patient.gender}}</small>
          </h2>
        </div>
        <div class="body">
          Email: {{patient.email}} <br>
          Mobile: {{patient.mobile}}<br>
          {{patient.address}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="plist" class="people-list">
              <div class="form-line m-b-15">
                <h5 matBadge="laboratory.length" matBadgeOverlap="false">Ordered Tests</h5>
              </div>
              <div class="tab-content">
                <div id="chat_user" style="position: relative; max-height: 590px;" [perfectScrollbar] >
                  <ul class="chat-list list-unstyled m-b-0" >
                    <li class="clearfix" *ngFor="let laboratory of laboratory; last as islast" (click)="getLaboratoryOne(laboratory,islast)">
                      <div class="about">
                        <div class="name">{{laboratory.test}}</div>
                        <div class="status">
                          <i class="material-icons offline">fiber_manual_record</i>
                          By: {{laboratory.requestedBy}} </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix" *ngIf="sign">
              <img src="assets/images/user/user2.jpg" alt="avatar">
              <div class="chat-about" >
                <div class="chat-with">{{laboratory1.test}}</div>
                <div class="chat-num-messages">By: {{laboratory1.requestedBy}}</div>
              </div>
            </div>
            <div class="chat-history" id="chat-conversation" style="position: relative; max-height: 449px;"
              [perfectScrollbar]>
              <form class="register-form m-4" [formGroup]="labForm" (ngSubmit)="onSubmit()" *ngIf="!(laboratory1.status)&&sign">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Result</mat-label>
                      <input matInput formControlName="result" required>
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error *ngIf="labForm.get('result').hasError('required')">
                        Result is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Unit</mat-label>
                      <mat-select default="default" formControlName="unit" required>
                        <mat-option [value]="'Gram/mole'">
                          Gram/mole
                        </mat-option>
                        <mat-option [value]="'Milli Litre'">
                          Milli Litre
                        </mat-option>
                        <mat-option [value]="'Gram'">
                          Gram
                        </mat-option>
                        <mat-option [value]="'Number/Centi Meter'">
                          Number/Centi Meter
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix>flag</mat-icon>
                      <mat-error *ngIf="labForm.get('unit').hasError('required')">
                        Unit is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Reference</mat-label>
                      <input matInput formControlName="reference" type="text" required>
                      <mat-error *ngIf="labForm.get('reference').hasError('required')">
                        Reference is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Specimen Type</mat-label>
                      <input matInput formControlName="sst" type="text" required>
                      <mat-error *ngIf="labForm.get('sst').hasError('required')">
                        Specimen Type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="chat-upload">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3" mat-raised-button color="primary" [disabled]="!labForm.valid">Submit</button>
                    <button class="mr-3" mat-raised-button color="primary" [disabled]="!last">Finish</button>
                    <button type="button" mat-button>Cancel</button>
                  </div>
                </div>
              </form>
              <div class="body table-responsive" *ngIf="laboratory1.status">
                <table class="table">
                  <thead>
                    <tr>
                      <th>TEST</th>
                      <th>RESULT</th>
                      <th>UNIT</th>
                      <th>REFERENCE</th>
                      <th>SPECIMENT TYPE</th>
                      <th>NAME OF VERIFIER</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{laboratory1.test}}</th>
                      <td>{{laboratory1.result}}</td>
                      <td>{{laboratory1.unit}}</td>
                      <td>{{laboratory1.reference}}</td>
                      <td>{{laboratory1.sst}}</td>
                      <td>{{laboratory1.nameOfVerifier}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="chat-upload">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <h6>Verified Date: {{laboratory1.verificationDate}}</h6>
                    <h6>Reported Time: {{laboratory1.reportedTime}}</h6>
                    <button class="mr-3" mat-raised-button color="primary" [disabled]="!last" (click)="finish()">Finish</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
